*{
    margin: 0;
    padding: 0;
    font-family: helvetica;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: whitesmoke;
}
/*body img{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}*/

header {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #000;
} 

header ul{
    list-style: none;
    display: flex;
}

header ul li{
    width: 150px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

header ul li:hover{
    background: linear-gradient(#BC8F8F,#F4A460);
    color: #000;
}

main {
    /*height: calc(100vh - 60px);*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main p{
    margin-top: 25px;
    width: 700px;
    height: 80px;
    font-size: 21px;
    color: white;
    text-align: justify;
}

main p:nth-child(2){
    margin-top: 200px;
}

a:link,
a:visited {
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:hover {
    color: black;
}

main address {
    margin-top: 300px;
    text-align: center;
    justify-content: center;
}